php:
	date.timezone: Europe/Prague
extensions:
	translationsConverter: Apploud\TranslationsConverter\DI\TranslationsConverterExtension

translationsConverter:
	langDir: %appDir%/lang

services:
	- Symfony\Component\Console\Application
