php:
	date.timezone: Europe/Prague
extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	translationsConverter: Apploud\TranslationsConverter\DI\TranslationsConverterExtension

translationsConverter:
	langDir: %appDir%/lang
